.viewContainer {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    margin: 0.1%;
}

.viewContainer:hover {
    cursor: pointer;
}

.demo {
    height: 3vw;
    width: 3vw;
    border: 1px solid white;
}

.txt {
    color: white;
    margin-left: 10px;
}