body {
    background-color: black;
}

div {
    white-space: pre-wrap;
}

.app {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.container {
    display: flex;
    flex: 7;
    flex-direction: column;
    justify-content: left;
    align-items: center;
}

.picker {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0.8%;
}

.containers {
    width: 100%;
    display: grid;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerRow {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.text-btn {
    margin: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.terminal {
    display: flex;
    /* justify-content: space-between; */
    flex: 3;
}