body {
    background-color: black;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.picker {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin: 0.8%;
}

.containers {
    overflow: scroll;
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerRow {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}